# Виртуальное окружение
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.pyc
*.pyo

# База данных (если НЕ хотите загружать данные — но вы ХОТИТЕ, поэтому закомментируйте или удалите эту строку)
# db.sqlite3

# Настройки IDE
.vscode/
.idea/
*.iml

# Логи и временные файлы
*.log
*.tmp